.wrapper {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  &::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 8px;
    right: 8px;
    background: rgba(22, 24, 35, 0.12);
    top: 0px;
    transform: scaleY(0.5);
  }
}

.btn-footer {
  height: 52px;
  margin-top: 0px;
  margin-bottom: 30px;
  color: rgb(255, 245, 201);
  font-size: 1.3rem;
  padding-left: 50px;
  line-height: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: no-repeat center url('/assets/images/background-btn.png');
  background-size: cover;
  user-select: none;

}

.container-link {
  margin-bottom: 8px;
  a {
    color: rgba(22, 24, 35, 0.5);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  color: rgba(22, 24, 35, 0.5);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  margin-right: 7px;
  margin-top: 5px;
  margin-top: 10px;
}
