.wrapper {
  overflow: hidden;
  top: 60px;
  bottom: 0px;
  width: 240px;
  background: rgb(255, 255, 255);
  position: fixed;
  padding-right: 8px;
  &:hover {
    overflow-y: overlay;
  }
}

.container {
  width: 232px;

  display: flex;
  flex-direction: column;
  padding: 20px 0 26px 8px;
}

.icons-sidebar {
  padding: 3px;
}
